.products{
    min-height: 100vh;
    margin-top: 50px;
    text-align: center;
}
.products-grid{
    display: grid;
    margin: auto 10%;
    grid-template-columns: 1fr;
    row-gap: 50px;
}
.products-grid-box{
    min-width: 500px;
    border: solid 1px;
    box-shadow: 6px 10px 10px rgba(0,0,0,0.5);
    padding: 30px;
    border-color:#14213d;
    border-width:4px;
    border-radius: 100px;
    transition: border-radius 1s;
}

.products-grid-box:hover{

    transition: background-color 1s;
    border-radius: 0px;
    border: solid 4px #14213d;
    color: black;
    background-color: #fca311;

}
.products-grid-box img{
    height: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.products-grid-box h3{
    font-size: 30px;
}