/* services */
.services{
    text-align: center;
}
.services-grid{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
}
.services-grid-box{
    margin-top: 40px;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 6px 10px 10px rgba(0,0,0,0.5);
    transition: background-color 0.5s;
    padding: 30px;
    border-color:#14213d white  #14213d white;
    border-width:4px;
}
.services-grid-box p{
    margin-top: 10px;
    text-align: center;
}
.services-grid-box:hover{
    background-color: #fca311;
    color: white;
    border-color:#14213d;
}
.services-grid-box img{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 80px;
    
}
.services-grid-box h3{
    font-size: 25px;
}


/* manufacturing */
.manufacture {
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 30px 50px;
    background-color: #14213d;
    height: 300px;
    display: flex;
    align-items: center;
    text-overflow: clip;
    border-radius: 0px 300px 0px 0px;
}
.manufacture img{
    width: 30em;
}
.manufacture h3{
  color: #fca311;
  font-size: 30px;
  margin-bottom: 20px;
}


/* reviews */
.reviews{
    text-align: center;
    height: 600px;
}
.reviews-grid{
    margin-top: 30px;
    display: flex;
    column-gap: 50px;
    justify-content: space-evenly;
}
.reviews-grid-box{
    margin-top: 40px;
    border: solid 1px;
    border-radius: 10px;
    box-shadow: 6px 10px 10px rgba(0,0,0,0.5);
    transition: background-color 0.5s;
    padding: 30px;
    max-width: 400px;
    border-color:#14213d transparent  #14213d transparent;
    border-width:4px;

}
.reviews-grid-box:hover{
    background-color: #fca211;
    color: white;
    border-color:#14213d;
}
.reviews-grid-box img{
    border-radius: 100px;
    width: 200px;
    height: 200px;
}
/* empty slide */
